* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
  margin: 0px 10px 0px 10px;
  font-size: 17px;
  padding: 10px;
  background-color: #009e72;
  color: white;
  border: transparent;
  border-radius: 30px;
  font-family: "Inter";
}

.login-a {
  color: white;
  font-family: "Comfortaa";
  font-size: 16px;
}

.login:hover {
  background-color: #006d4e;
  color: white;
  border: transparent;
  border-radius: 40px;
}

.input-register,
.input-login,
.forgot-password {
  font-size: 17px;
}

.input-register h2,
.input-login h2 {
  font-size: 35px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 800;
}

.input-register h3,
.forgot-password h3 {
  padding-top: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.forgot-password .button2 {
  text-align: center;
  background-color: white;
  color: #009e72;
  border-radius: 10px;
  padding: 16px 4%;
  font-size: 17px;
  font-weight: 600;
}

.forgot-password .button2:hover {
  opacity: 0.7;
}

.input-register button:hover,
.input-login button:hover,
.forgot-password button:hover {
  background-color: #006d4e;
  color: white;
  border: transparent;
}

.input-register p,
.input-login p {
  margin-top: 12px;
}

.input-login input,
.input-register input,
.forgot-password input,
.reset-password input {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  color: black;
}

.deskripsi2 {
  font-size: 18px;
  text-align: justify;
}

a {
  text-decoration: none;
  color: black;
}

.link {
  color: #009e72;
}

.title-product {
  font-size: 30px;
  height: auto;
  font-family: 'Comfortaa';
  display: block;
  margin: 40px 30px 25px 30px;
  text-align: center;
}

.shop {
  display: flex;
}

.form-write label {
  margin-bottom: 20px;
}

.title__homewrite {
  margin-bottom: 20px;
}


/* RESPONSIF */

@media screen and (max-width : 1200px) {
  .plant-img {
    width: 300px;
  }
}

@media screen and (max-width : 725px) {
  .services {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    text-align: center;
  }

  .input-register h2,
  .input-login h2,
  .forgot-password h2 {
    margin: auto;
    font-size: 30px;
  }

  .reset-password h4{
    margin: auto;
    font-size: 30px;
  }

  .reset-password h3{
    margin: 10px auto;
    font-size: 20px;
  }

  .input-register h3,
  .forgot-password h3 {
    margin: 10px auto;
    padding-top: 10px;
    font-size: 20px;
  }

  .input-login button,
  .forgot-password button {

    margin: auto;
    width: auto;
    font-size: 15px;
  }

  .input-register button{
    margin: auto;
    width: auto;
    font-size: 15px;
  }
  
  .input-login p {
    margin: 5px auto;
  }

  .input-register p{
    margin: 5px auto;
  }

  .forgot-password p {
    margin: 5px auto;
  }

  .title {
    font-size: 25px;
  }

  .input-login input,
  .input-register input,
  .forgot-password input,
  .reset-password input  {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: black;

  }
}

@media(max-width: 650px) {
  .photos {
    width: 95%;
  }
}


@media(max-width: 600px) {

  .input-login input,
  .input-register input,
  .forgot-password input,
  .reset-password input  {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: black;

  }

  .input-register h2,
  .input-login h2,
  .forgot-password h2 {
    margin: auto;
    font-size: 26px;
  }

  .reset-password h4 {
    margin: auto;
    font-size: 26px;
  }

  .input-register h3,
  .forgot-password h3 {
    margin: 10px auto;
    padding-top: 10px;
    font-size: 20px;
  }

  .reset-password h3 {
    margin: 10px auto;
    font-size: 20px;
  }

  .input-register button,
  .input-login button,
  .forgot-password button {
    font-size: 15px;
    margin: auto;
    width: auto;
  }

  .input-register p,
  .input-login p {
    margin: 5px auto;

  }

}


ul {
  list-style: none;
}

.footer-col h4 {
  font-size: 20px;
  color: #000;
  /* color: #ffffff; */
  text-transform: capitalize;
  margin-bottom: 32px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  /* background-color: #9ed7c1; */
  background-color: #006d4e;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #000;
  /* color: #ffffff; */
  font-weight: 400;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #121212;
  /* color: #bbbbbb; */
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #000;
  /* color: #ffffff; */
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #fff;
  background-color: #000;
}

@media(max-width: 574px) {

  .footer-col h4 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer-col h4::before {
    text-align: center;
    margin: auto;
    left: auto;
    position: absolute;
  }

}