body {
  background-color: #e5f7f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  line-height: 45px;
  margin: 20px 0px 20px 0px;
}

.navbar {
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 65px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(1, 1, 1, 0.19);
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 65px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #e5f7f0;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

nav ul li {
  text-decoration: none;
  padding: 0px 15px 0px 15px;
  color: black;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.tautan:hover {
  background-color: #9ed7c1;
}

nav ul li button {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  height: 45px;
  padding: 0px 15px 0px 15px;
  background: #e5f7f0;
  border: transparent;
  cursor: pointer;
  border-radius: 10px;
}

nav ul li button:hover {
  background-color: #9ed7c1;
}

.logo {
  font-size: 27px;
  font-family: "Comfortaa";
  top: 10px;
  right: 15px;
  padding-left: 15px;
  color: #009e72;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  color: #009e72;
}

.login {
  margin: 0px 10px 0px 10px;
  font-size: 17px;
  padding: 10px;
  background-color: #009e72;
  color: white;
  border: transparent;
  border-radius: 30px;
  font-family: "Inter";
}

.login-a {
  color: white;
  font-family: "Comfortaa";
  font-size: 16px;
}

.login:hover {
  background-color: #006d4e;
  color: white;
  border: transparent;
  border-radius: 40px;
}

.input-register,
.input-login,
.forgot-password {
  font-size: 17px;
  margin: 50px;
}

.input-register h2,
.input-login h2,
.forgot-password h2 {
  font-size: 35px;
  margin-left: 50px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 800;
}

.input-register h3,
.forgot-password h3 {
  padding-top: 15px;
  margin-left: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.input-register button,
.input-login button,
.forgot-password button {
  /* display: block; */
  padding: 12px;
  font-size: 17px;
  background-color: #009e72;
  color: white;
  border: transparent;
  border-radius: 10px;
  margin-left: 100px;
  /* margin: auto; */
  cursor: pointer;
  width: 12%;
}

.forgot-password .button2 {
  text-align: center;
  background-color: white;
  color: #009e72;
  border-radius: 10px;
  margin-left: 10px;
  padding: 16px 4%;
  font-size: 17px;
  font-weight: 600;
}

.forgot-password .button2:hover {
  opacity: 0.7;
}

.input-register button:hover,
.input-login button:hover,
.forgot-password button:hover {
  background-color: #006d4e;
  color: white;
  border: transparent;
}

.input-register p,
.input-login p {
  margin-top: 10px;
  margin-left: 100px;
}

.forgot-password p {
  margin-left: 50px;
}

.services {
  margin: 25px 0px 25px 0px;
  display: flex;
  font-family: "Inter";
  width: 100%;
}

.services h2, h3 {
  font-family: "Comfortaa";
  margin-bottom: 5px;
}

.services .kolom {
  margin-left: 15px;
  margin-right: 15px;
}

.deskripsi2{
  word-spacing: 2px;
  font-size: 18px;
}

.services img {
  width: 46%;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

.link {
  color: #009e72;
}

.photos {
  width: 85%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.detail-product img {
  width: 16%;
  margin: 30px auto;
}

.title-detail{
  font-size: 20px;
  height: auto;
  font-family: 'Comfortaa';
  color: #009e72;
  display: block;
  margin: 0px;
}

.title-product{
  font-size: 30px;
  height: auto;
  font-family: 'Comfortaa';
  display: block;
  margin: 40px 30px 25px 30px ;
  text-align: center;
}

.shop{
  display: flex;
}

/* RESPONSIF */

@media screen and (max-width : 1200px) {
  .plant-img {
    width: 300px;
  }
}

@media screen and (max-width : 1050px) {

.input-register button {
  width: 19%;
}
}

@media screen and (max-width : 725px) {
  .services {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    text-align: center;
  }

  .services img {
    width: 65%;
    margin: auto;
  }

  .input-register h2,
  .input-login h2,
  .forgot-password h2 {
    margin: auto;
    font-size: 30px;
  }

  .input-register h3,
  .forgot-password h3 {
    margin: 10px auto;
    padding-top: 10px;
    font-size: 20px;
  }

  .input-register button,
  .input-login button,
  .forgot-password button {

    margin: auto;
    width: auto;
  }

  .input-register p,
  .input-login p {
    margin: 5px auto;
  }

  .forgot-password .button2 {
    margin-left: 10px auto;
    width: auto;
  }

  .forgot-password p {
    margin: 5px auto;
  }

  .title {
    font-size: 25px;
  }
}

.input-login input,
.input-register input,
.forgot-password input {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  display: block;
  width: 100%;
  padding: 20px;
  background-color: #9ed7c1;
  border: 5px #009e72;
  color: black;

}

/* FOOTER */

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #006d4e;
  padding: 70px 0;
  margin-top: 100px;
}

.footer-col {
  width: 25%;
  padding: 0 25px;
}

.footer-col h4 {
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #9ed7c1;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16.5px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
     width: 50%;
    display: grid;
    margin: auto;
  }
}

@media(max-width: 574px) {
  .footer{
    display: block;
    /* margin: 0px auto; */
    padding: 20px;
  }
  .footer-col {
    width: 50%;
    display: grid;
    /* text-align: center; */
    margin: auto;
  }
  .footer-col h4 {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .footer-col h4::before {
    text-align: center;
    margin: auto;
    left: auto;
    position: absolute;
  }

}